# Python
__pycache__/
*.pyc
*.pyd
*.so
*.egg
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.md5
*.pyo
*.test

# Ambientes Virtuais
.venv/
venv/
env/
.tox/

# Jupyter Notebooks
.ipynb_checkpoints/

# Editores e IDEs
.idea/
.vscode/
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Dados e Arquivos Temporários
data/       # Garante que dados grandes não são versionados
results/    # Garante que resultados de experimentos não são versionados
models/     # Garante que modelos treinados não são versionados (se forem grandes)
*.csv       # Ignora arquivos CSV temporários
*.json      # Ignora arquivos JSON temporários
*.log       # Ignora arquivos de log
*.tmp       # Ignora arquivos temporários
*.pkl       # Ignora arquivos de modelo serializados (geralmente grandes)

# Arquivos Sensíveis (ex: chaves de API, variáveis de ambiente)
.env